[Desktop Entry]
Name=Prusa Gcode Viewer - alpha
GenericName=3D Printing Software
Icon=PrusaSlicer-gcodeviewer-alpha
Exec="/home/chip/Data/Application/PrusaSlicer-2.6.0-alpha3+linux-x64-GTK3-202302031527.AppImage" --gcodeviewer %F
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
StartupNotify=false
