[Desktop Entry]
Name=PrusaSlicer - alpha
GenericName=3D Printing Software
Icon=PrusaSlicer-alpha
Exec="/home/chip/Data/Application/PrusaSlicer-2.6.0-alpha3+linux-x64-GTK3-202302031527.AppImage" %F
Terminal=false
Type=Application
MimeType=model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
Categories=Graphics;3DGraphics;Engineering;
Keywords=3D;Printing;Slicer;slice;3D;printer;convert;gcode;stl;obj;amf;SLA
StartupNotify=false
StartupWMClass=prusa-slicer
